<header class="header">
    <div class="nav-container">
        <h2><a href="{{ url_for('index') }}" class="brand-link">Jennifer's Portfolio</a></h2>

        <!-- Navigation bar -->
        <nav class="nav-links">
            <ul>
                <li><a href="{{ url_for('about_me')}}">About Me</a></li>
                <li><a href="{{ url_for('projects')}}">Projects</a></li>
                <li><a href="#" class="resume-btn">Resume</a></li>

            </ul>
        </nav>
        
    </div>

</header>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        const header = document.querySelector(".header");

        window.addEventListener("scroll", function(){
            if (window.scrollY > 50) {
                header.classList.add("scrolled");
            } else {
                header.classList.remove("scrolled");
            }
        });
    })
</script>