{% extends "base.html" %}

{% block title %}Home - Jennifer's Portfolio{% endblock %}

{% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
>

{% endblock %} 

{% block content %}
<section class="hero">
    <div class="hero-video-container">
        <video autoplay muted loop playsinline class="hero-video">
            <source src="{{ url_for('static', filename='images/hero_video.mp4')}}" type="video/mp4">
            Your browser does not support the video tag
        </video>
    </div>
    <div class="hero-text-container">
        <div class="hero-content">
            <h1 class="hero-heading">
                Hi, I'm <span class="highlight">Jennifer Thew</span>
            </h1>
            <p class="hero-subtext">
                A passionate Computer Science student at Swinburne University of Technology <br>
                with a keen interest in software engineering, machine learning <br>
                and web development
            </p>
            <div class="hero-buttons">
                <a href="{{ url_for('about_me')}}" class="btn-primary">About Me</a>
                <a href="#" class="btn-outline">Resume <span class="arrow-icon"> -> </span></a>
            </div>
        </div>
    </div>

</section>

<section class="featured-projects-section">
            <h2 class="section-title">Featured Projects</h2>
    <div class="carousel-wrapper">
        <div class="carousel-track">
            {% for project in projects %}
            <div class="project-card">
                <div class="project-image" style="--bg-url: url('{{ url_for('static', filename='images/' ~ project.image)}}');"></div>
                <div class="project-content">
                    <h3 class="project-title">{{project.title }}</h3>
                    <ul class="tech-stack">
                        {% for tech in project.tech %}
                        <li>{{tech}}</li>
                        {% endfor %}
                    </ul>
                    <p class="project-description">{{project.description}}</p>
                    <a href="{{project.link}}" class="project-link">Learn More</a>
                </div>
            </div>
            {% endfor %}

            <!-- Duplicate for seamless loop -->
            {% for project in projects %}
            <div class="project-card">
                <div class="project-image" style="--bg-url: url('{{ url_for('static', filename='images/' ~ project.image)}}');"></div>
                <div class="project-content">
                    <h3 class="project-title">{{project.title }}</h3>
                    <ul class="tech-stack">
                        {% for tech in project.tech %}
                        <li>{{tech}}</li>
                        {% endfor %}
                    </ul>
                    <p class="project-description">{{project.description}}</p>
                    <a href="{{project.link}}" class="project-link">Learn More</a>
                </div>
            </div>
            {% endfor %}

            
        </div>
        
    </div>

<!-- From Uiverse.io by nathAd17 --> 
 <div class="btn">
    <a href="{{ url_for('projects')}}">
        <button
        type="submit"
        class="flex justify-center gap-2 items-center mx-auto shadow-xl text-lg bg-gray-50 backdrop-blur-md lg:font-semibold isolation-auto border-gray-50 before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-left-full before:hover:left-0 before:rounded-full before:bg-[linear-gradient(to_right,_#1173d4,_#00c6ff)]
    hover:text-gray-50 before:-z-10 before:aspect-square before:hover:scale-150 before:hover:duration-700 relative z-10 px-4 py-2 overflow-hidden border-2 rounded-full group"
        >
        Explore All
        <svg
            class="w-8 h-8 justify-end group-hover:rotate-90 group-hover:bg-gray-50 text-gray-50 ease-linear duration-300 rounded-full border border-gray-700 group-hover:border-none p-2 rotate-45"
            viewBox="0 0 16 19"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
            d="M7 18C7 18.5523 7.44772 19 8 19C8.55228 19 9 18.5523 9 18H7ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 18L9 1H7L7 18H9Z"
            class="fill-gray-800 group-hover:fill-gray-800"
            ></path>
        </svg>
        </button>

    </a>
        
 </div>


</section>

{% endblock %}