{% extends "base.html" %}

{% block title %}About me{% endblock %}

{% block content %}
<section class="Myprojects-section">
    <h1 class="section-title">My Projects</h1>
    <!-- <p class="section-subtitle">A selection of projects showcasing my skills and experience in computer science.</p> -->
    <div class="Myprojects-list">
        {% for project in projects %}
        <div class="Myproject-card {% if loop.index is even %}reverse{% endif %}">
            <div class="Myproject-image">
                <img src="{{ url_for('static', filename='images/' ~ project.image) }}" alt="{{ project.title }}">
            </div>
            <div class="Myproject-content fade-in-up">
                <h3>{{ project.title}}</h3>
                <p class="tech-stack-header">
                    {% for tech in project.tech %}
                    <span class="tech-item">{{ tech }}</span>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="project-description">{{ project.description }}</p>
                <a href="{{ url_for('project_detail', slug=project.slug) }}" class="project-btn">View Project</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}