{% extends "base.html" %}

{% block title %}About me{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


{% endblock %} 

{% block content %}

<section class="project-detail-section">
    <h1 class="project_detail-title">Project: {{ project.title }}</h1>
    
    <div class="project_detail-hero">
        <img 
            src="{{ url_for('static', filename='images/' ~ project.detail_image) }}" 
            alt="{{ project.title }} screenshot" 
            class="hero-image"
        >
    </div>

    <div class="project_detail-content-grid">
        
        <div class="main-details">
            
            <div class="content_detail-block">
                <h2>Overview</h2>
                <p>{{ project.overview }}</p>
            </div>

            <div class="content_detail-block">
                <h2>Challenges and Solutions</h2>
                <p>{{ project.challenges_solutions }}</p>
            </div>

            <div class="content_detail-block">
                <h2>Outcomes</h2>
                <p>{{ project.outcomes }}</p>
            </div>
            
        </div>
        
        <div class="sidebar">
            
            <div class="tech-used-block">
                <h3>Technologies Used</h3>
                <ul class="tech-list">
                    {% for tech in project.tech %}
                    <li>{{ tech }}</li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}