{% extends "base.html" %}

{% block title %}About me{% endblock %}

{% block content %}

<section class="resume-section">
    <h2 class="section-title">My Resume</h2>
    <p class="resume-intro">
        Get a snapshot of my skills, education, and hands-on experience in tech.<br>
        Download my resume to explore the full scope of my capabilities. 
    </p>

    <div class="resume-preview">
        <img src="{{ url_for('static', filename='images/resume.png')}}" alt="Resume preview" class="resume-image">
    </div>

    <a href="#" class="resume-download-btn" download>
        Download Resume (PDF)
    </a>

</section>

{% endblock %}