{% extends "base.html" %}

{% block title %}About me{% endblock %}

{% block content %}

<section class="resume-section">
    <h2 class="section-title fade-in-up">My Resume</h2>
    <p class="resume-intro fade-in-up">
        Get a snapshot of my skills, education, and hands-on experience in tech.<br>
        Download my resume to explore the full scope of my capabilities. 
    </p>

    <div class="resume-preview scale-in">
        <img src="{{ url_for('static', filename='images/resume.png')}}" alt="Resume preview" class="resume-image">
    </div>

    <a href="{{ url_for('static', filename='images/my_resume.pdf')}}" class="resume-download-btn fade-in-up" download>
        Download Resume (PDF)
    </a>

</section>

{% endblock %}